= form_with(model: [@project, @task], local: true, data: { turbo_frame: dom_id(@task, :completed) }) do |form|
  = form.check_box :completed, class: 'flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700'
  = form.submit "Done", class: "inline-flex items-center px-2 py-1 border border-transparent text-xs font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"