div.p-4.max-w-xl.mx-auto.bg-white.rounded-xl.shadow-md
  h1.text-xl.font-semibold.text-gray-900 New Project
  = render 'form', project: @project
  = link_to raw('&#8592; Back'), projects_path, class: 'text-blue-600 dark:text-blue-500 hover:underline'